/* Estilos comuns para ambas as páginas */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 40px;
    font-size: small;
}
footer p{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0%;
}
.imagem-carrossel {
    width: 50%; /* Defina a largura desejada para as imagens */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

/* Estilos específicos para index.html */

/* Adicione os estilos para as seções da página principal aqui */

/* Estilos específicos para repo.html */

/* Adicione os estilos para a página de detalhes do repositório aqui */
